body {
  box-sizing: border-box;
  margin: 0;
}
img {
  height: 1200px;
  width: 55%;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ccbe;
}
.footer-item {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
}
.footer-disclosure {
  font-size: 18px;
  font-weight: bold;
  display: block;
  align-items: center;
}
.disclosure,
span {
  color: #757263;
  text-decoration: none;
}
.disclosure:hover {
  color: #a76435;
}
.footer-disclosure {
  background-color: #e1ccbe;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 10px;
}
.btn {
  color: #000000;
  background-color: #f7f6f1;
  font-size: 40px;
  padding: 24px;
  position: absolute;
  top: 570px;
  left: 430px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
.btn:hover {
  color: #ffffff;
  background-color: #000000;
}
.main-images-section {
  position: relative;
}
.btn-chicago {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  font-size: 40px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  position: absolute;
  top: 500px;
  left: 1700px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
.btn-chicago:hover {
  color: #000000;
  background-color: #ffffff;
}
a:hover {
  cursor: pointer;
}
.site-map-wrapper {
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.site-map-nav {
  color: #ffffff;
  font-size: 35px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
.site-map-nav:hover {
  color: #b4b4b3;
}
.nav-it {
  margin: 50px;
}
.site-map {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 200px;
}
.link-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}
.link-overview-item {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}
.link-overview-item:hover {
  color: #a76435;
}
h2 {
  margin-top: 50px;
}
.main-site-map {
  height: 700px;
}
.city-flame-chicago-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #333333;
}
.chicago-nav {
  color: #ffffff;
  font-size: 20px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
.chicago-nav:hover {
  color: #b4b4b3;
}
span.rest-name {
  font-size: 35px;
  color: #ffffff;
}
span.rest-name:hover {
  color: #b4b4b3;
}
.image {
  width: 100%;
  height: 700px;
  margin: 0;
}
.chicago-page-main-contact {
  background-color: #333333;
  height: 300px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  margin-top: 60px;
}
.main-chicago-page {
  background-color: #333333;
}
.chicago-page-main-reservation {
  background: url("../img/food-img.jpg") center center/cover no-repeat;
  padding: 200px;
}
.chicago-page-main-about {
  background-color: #333333;
  height: 500px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-img {
  width: 300px;
  height: 300px;
}
h2 {
  font-size: 30px;
  color: #ffffff;
  font-family: "Merienda", cursive;
}
.reservation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  font-size: 18px;
  line-height: 35px;
  font-family: "Merienda", cursive;
  margin: 0;
  color: #ffffff;
}
#email-us {
  color: #ffffff;
}
#contact-phone {
  text-decoration: underline;
  color: #ffffff;
}
#btn-direction {
  text-decoration: none;
  color: white;
}
#btn-direction:hover {
  cursor: pointer;
}
button {
  background-color: #a76435;
  padding: 12px 32px;
  margin: 28px 0px 0px;
  font-family: "Merienda", cursive;
  font-size: 16px;
}
button:hover {
  background-color: #85502a;
}
.address,
.hours,
.contact {
  font-family: "Merienda", cursive;
  font-size: 24px;
}
.location,
.week-hours,
.contact-phone,
.contact-email {
  margin-top: 24px;
  font-family: "Merienda", cursive;
  font-size: 18px;
}
.happenings {
  background-color: #333333;
  height: 2000px;
}
select {
  margin: 30px;
}
#input-date {
  padding: 20px;
  margin-top: 70px;
  font-size: 15px;
}
.reservation-party-size {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 75px;
  font-size: 15px;
}
.happenings-header {
  display: flex;
  justify-content: center;
  align-items: end;
}
.menu-chicago {
  background-color: #333333;
  height: 1500px;
}
#chicago-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.happenings-img {
  height: 450px;
  width: 450px;
  background: url("../img/food-img.jpg") center center/cover no-repeat;
}
.happenings-wrapper1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.mailing-list {
  background-color: #333333;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  margin-top: 35px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.instagram:hover {
  color: #b4b4b3;
}
.menu-picture {
  background-color: #333333;
  height: 400px;
  display: flex;
  justify-content: center;
}
#menu_img_1 {
  width: 400px;
  height: 400px;
}
.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 300px;
}
#menu-chicago {
  height: 700px;
}
#header {
  background: url("./img/private-dining-bcg-img") center center/cover no-repeat;
}
#body-dining {
  background-color: #f9f9fb;
  font-family: "Merienda", cursive;
}
#private-din-img {
  width: 100%;
  height: 300px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#submit {
  color: #ffffff;
  font-weight: bold;
  background-color: #528c9e;
  margin-bottom: 100px;
}
#submit:hover {
  background-color: #335863;
  cursor: pointer;
}
.event-dining {
  color: #528c9e;
  font-size: 24px;
}
.event-dining-request {
  font-size: 30px;
  color: #497e8e;
}
input {
  padding: 18px;
}
select {
  padding: 20px;
}
.city-flame-la-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #757263;
}
#la-main-img {
  width: 100%;
  height: auto;
}
.la-page-main-contact {
  background-color: #ffffff;
  height: 300px;
  display: flex;
  justify-content: space-around;
  color: #000000;
  margin-top: 60px;
}
.la-page-main-about {
  background-color: #ffffff;
  height: 500px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.description-contact-la {
  color: #000000;
}
.la-page-main-reservation {
  background: url("../img/la-bg.jpg") center center/cover no-repeat;
  padding: 200px;
  opacity: 0.7;
}
#la-reservation-title {
  color: #000000;
}
.happenings-la {
  background-color: #ffffff;
  height: 2000px;
}
 #coctail-video {
  width: 450px;
  height: 630px;
} 
.city-flame-la-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #e1ccbe;
}
.la-mailing-list {
  background-color: #e1ccbe;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1440px) {
  .footer-disclosure {
    padding-bottom: 80px;
  }
  .btn {
    left: 200px;
    top: 550px;
  }
  .btn-chicago {
    left: 950px;
    width: 230px;
    height: 230px;
  }
}
@media all and (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
