body {
  box-sizing: border-box;
  margin: 0;
}
img {
  height: 1300px;
  padding: 3px;
  width: 80%;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ccbe;
}
.footer-item {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
}
.footer-disclosure {
  font-size: 18px;
  font-weight: bold;
  display: block;
  align-items: center;
}
.disclosure,
span {
  color: #757263;
  text-decoration: none;
}
.disclosure:hover {
  color: #a76435;
}
.footer-disclosure {
  background-color: #e1ccbe;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 10px;
}
.btn {
  background-color: blue;
  color: #000000;
  background-color: #f7f6f1;
  font-size: 40px;
  padding: 24px;
  position: absolute;
  top: 570px;
  left: 430px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
.btn:hover {
  color: #ffffff;
  background-color: #000000;
}
.main-images-section {
  position: relative;
}
.btn-chicago {
  display: block;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  font-size: 40px;
  padding: 24px;
  position: absolute;
  top: 500px;
  left: 1700px;
  font-family: "Merienda", cursive;
  text-decoration: none;
}
.btn-chicago:hover {
  color: #000000;
  background-color: #ffffff;
}
a:hover {
  cursor: pointer;
}

/* 1440px adaptation */
/* 
.one{
    width: 850px;
} */
